@model AutoServiceLogin.ModRezolvare

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ModRezolvare</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ModeRezolvare)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModeRezolvare)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MartoriBord.Nume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MartoriBord.Nume)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RezolvareID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
